.today {
    border: 1px solid rgb(27, 25, 25)
}
.historySize {
    width:38vh;
    height: 5vh
}
.main-body{
    margin: 0px
}
input {
    margin-bottom: 1vh !important;
}
.historyBtn {
    width: 100vw
}
.buttonHolder{
    margin-left: 2.4px !important;
    margin-right: 0px !important;
    margin-top: 5px !important;
}