.today {
    border: 1px solid rgb(27, 25, 25)
}
.historySize {
    width:38vh;
    height: 5vh
}
.main-body{
    margin: 0px
}
input {
    margin-bottom: 1vh !important;
}
.historyBtn {
    width: 100vw
}